*.md
!README.md
**/__pycache__
**/venv
**/venvWSL
**/clean_venv
**/datasets
**/data
**/cache
**/big
**/ncars
**/results
**/network_results
**/network_results_surf
*.sh
**/tools
**/.claude
*.log
**/tests
**/configs
**/tensor_data
